<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="en" ng-app="platniPromet">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Platni promet</title>
<base href="/">

<link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet">
<link href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet">

<!-- <link href="app/css/main.css" rel="stylesheet">
 -->
 
<link href="/css/main.css" rel="stylesheet">
<script src="/webjars/angularjs/1.5.8/angular.js"></script>
<script
	src="/webjars/angular-ui-router/0.2.18/release/angular-ui-router.js"></script>
<script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/router.js"></script>

<script src="/js/controller/mainController.js"></script>
<script src="/js/controller/kreirajBankuController.js"></script>
<script src="/js/controller/kreirajKlijentaController.js"></script>
<script src="/js/controller/prikazSvihKlijenataController.js"></script>
<script src="/js/controller/prikazSvihBanakaController.js"></script>
<script src="/js/controller/transakcijaController.js"></script>
<script src="/js/controller/prikazSvihTransakcijaController.js"></script>

<script src="/js/service/klijentService.js"></script>
<script src="/js/service/bankaService.js"></script>
<script src="/js/service/transakcijaService.js"></script>
<script src="/js/service/accountService.js"></script>

<link rel="icon" href="{{favicon}}">
</head>
<body ng-controller="MainController">

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/kreirajBanku">Kreiraj banku</a>
				<a class="navbar-brand" href="#/prikazSvihBanaka">Prikaz svih banaka</a>
				<a class="navbar-brand" href="#/kreirajKlijenta">Kreiraj klijenta</a>
				<a class="navbar-brand" href="#/prikazSvihKlijenata">Prikaz svih klijenta</a>
				<a class="navbar-brand" href="#/transakcija">Kreiraj transakcija</a>
				<a class="navbar-brand" href="#/prikazSvihTransakcija">Prikaz svih transakcija</a>
			</div>
		</div>
	</div>

	<div class="jumbotron">
		<div class="container text-center">
			<h1>Platni promet</h1>
		</div>
	</div>

	<div class="containter">
		<div ui-view></div>
	</div>

</body>
</html>
